body{
    color: #333;
    font-size: 1.9rem;
    line-height: 1.5em;
    margin: 0;
    max-height: 100vh;
    position: relative;
    height: 100vh;
    overflow-y: auto;
}

h1{
    line-height: 1.3em;
    font-size: 2rem;
}

p{
    margin-bottom: 1.6em;
}

.container-fluid {
    width: 85%;
    margin: 0 auto;
}

.btn{
    color: white;
}